<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <permission android:name="fit2081.READ_PERMISSION" android:protectionLevel="normal"/>
    <permission android:name="fit2081.WRITE_PERMISSION" android:protectionLevel="normal"/>
    <!-- uses-permission android:name="android.permission.BROADCAST_SMS" / -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        tools:targetApi="31">
        <provider
            android:name=".ContentProviderBook"
            android:readPermission="fit2081.READ_PERMISSION"
            android:writePermission="fit2081.WRITE_PERMISSION"
            android:authorities="fit2081.app.Oscar"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".ListenerSMS"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Book Info Gatherer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>